<div class="container"> 
    <h1>Listado de Productos</h1>
    <div   class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Nombre</th>
                </tr>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor="let producto of productos">
                        <td>{{producto.value._id}}</td>
                        <td>{{producto.value.marca}}</td>
                        <td>{{producto.value.nombre}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
